@model Bangazon.Models.ProductViewModels.ProductDetailViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Product</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Product.DateCreated)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Product.DateCreated)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Product.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Product.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Product.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Product.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Product.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Product.Price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Product.Quantity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.QuantityRemaining)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Product.City)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Product.City)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Product.ImagePath)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Product.ImagePath)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Product.Active)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Product.Active)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Product.User)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Product.User.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Product.ProductType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Product.ProductType.Label)
        </dd>
    </dl>
</div>
<div>
    <button>Add To Order</button>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Product.ProductId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
