@model Bangazon.Models.ProductTypeViewModels.ProductTypeListViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>
<div>
    <h4>
        Product Types
    </h4>
    <div>
        @foreach (var item in Model.GroupedProducts)
        {
            <div>
                @Html.DisplayFor(modelItem => item.TypeName) (@Html.DisplayFor(modelItem => item.ProductCount))&nbsp;&nbsp;&nbsp;
                <a asp-action="Edit" asp-route-id="@item.TypeId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.TypeId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.TypeId">Delete</a>
            </div>

            <div>
                <ul>
                    @foreach (var product in item.Products)
                    {
                        <li>
                            @($"{product.Title}")

                        </li>
                    }
                </ul>
            </div>
        }
    </div>
</div>
