@model Bangazon.Models.ProductTypeViewModels.ProductTypeListViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Product Categories
            </th>
            <th>
                # of Products in Category
            </th>
            <th>
                Last Three Products Added
            </th>            
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.GroupedProducts) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TypeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductCount)
            </td>
            @foreach (var product in item.Products)
            {
            <td>
                @Html.DisplayFor(modelItem => product.Title)
            </td>  
            }
                <td>
                    <a asp-action="Edit" asp-route-id="@item.TypeId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.TypeId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.TypeId">Delete</a>
                </td>
        </tr>
}
    </tbody>
</table>
